.sababa{
	margin: 0;
	padding: 0;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 25vh;
	background-color: rgba(100,155,135,.3);
}

.sababa h3{
	margin-top: 15px;
	font-size: 25px;
	color:green;
}

.sababa p{
	margin-top: 2px;
	color: #000;
	font-size: 15px;
}

.socmed{
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.socmed a{
	margin-left: 5px;
	font-size: 40px;
	text-decoration: none;
}

.socmed i{
	text-decoration: none;
	color: rgba(100,155,135,100);
}